#Boston 311 Tutorial

This notebook will run you through the basic usage of this package to train 3 models on the Boston 311 data and use them to predict the outcome of cases from the last 30 days

##Install the package from github using pip

In [ ]:
#This library is only needed for the Cox Regression Model, which is not included in this tutorial
! pip install lifelines

In [3]:
pwd()

'/home/briarmoss/Documents/Boston_311/models'

In [4]:
! pip install ../

Defaulting to user installation because normal site-packages is not writeable
Processing /home/briarmoss/Documents/Boston_311
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: tensorflow in /home/briarmoss/.local/lib/python3.10/site-packages (from boston311==0.1.0) (2.12.0)
Requirement already satisfied: scikit-learn in /home/briarmoss/.local/lib/python3.10/site-packages (from boston311==0.1.0) (1.2.2)
Requirement already satisfied: pandas in /home/briarmoss/.local/lib/python3.10/site-packages (from boston311==0.1.0) (2.0.1)
Requirement already satisfied: numpy in /home/briarmoss/.local/lib/python3.10/site-packages (from boston311==0.1.0) (1.23.5)
Requirement already satisfied: matplotlib in /home/briarmoss/.local/lib/python3.10/site-packages (from boston311==0.1.0) (3.7.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/briarmoss/.local/lib/python3.10/site-packages (from matplotlib->boston311==0.1.0) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /home/briarmoss/.local/lib/python3.10/site-packages (from matplotlib->boston311==0.1.0) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/briarmoss/.local/lib/python3.10/site-packages (from matplotlib->boston311==0.1.0) (1.0.7)
Requirement already satisfied: fonttools>=4.22.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from matplotlib->boston311==0.1.0) (4.39.4)
Requirement already satisfied: packaging>=20.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from matplotlib->boston311==0.1.0) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib->boston311==0.1.0) (9.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/briarmoss/.local/lib/python3.10/site-packages (from matplotlib->boston311==0.1.0) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib->boston311==0.1.0) (2.4.7)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas->boston311==0.1.0) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in /home/briarmoss/.local/lib/python3.10/site-packages (from pandas->boston311==0.1.0) (2023.3)
Requirement already satisfied: scipy>=1.3.2 in /home/briarmoss/.local/lib/python3.10/site-packages (from scikit-learn->boston311==0.1.0) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /home/briarmoss/.local/lib/python3.10/site-packages (from scikit-learn->boston311==0.1.0) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from scikit-learn->boston311==0.1.0) (3.1.0)
Requirement already satisfied: six>=1.12.0 in /usr/lib/python3/dist-packages (from tensorflow->boston311==0.1.0) (1.16.0)
Requirement already satisfied: flatbuffers>=2.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (23.5.9)
Requirement already satisfied: libclang>=13.0.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (16.0.0)
Requirement already satisfied: absl-py>=1.0.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (1.4.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (2.12.3)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (0.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (1.6.3)
Requirement already satisfied: setuptools in /usr/lib/python3/dist-packages (from tensorflow->boston311==0.1.0) (59.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (0.2.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (3.3.0)
Requirement already satisfied: keras<2.13,>=2.12.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (2.12.0)
Requirement already satisfied: jax>=0.3.15 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (0.4.10)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (4.23.0)
Requirement already satisfied: termcolor>=1.1.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (2.3.0)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (2.12.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (0.32.0)
Requirement already satisfied: h5py>=2.9.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (4.5.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorflow->boston311==0.1.0) (1.54.2)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/lib/python3/dist-packages (from astunparse>=1.6.0->tensorflow->boston311==0.1.0) (0.37.1)
Requirement already satisfied: ml-dtypes>=0.1.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from jax>=0.3.15->tensorflow->boston311==0.1.0) (0.1.0)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow->boston311==0.1.0) (1.0.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow->boston311==0.1.0) (0.7.0)
Requirement already satisfied: werkzeug>=1.0.1 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow->boston311==0.1.0) (2.3.4)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/lib/python3/dist-packages (from tensorboard<2.13,>=2.12->tensorflow->boston311==0.1.0) (2.25.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow->boston311==0.1.0) (2.18.0)
Requirement already satisfied: markdown>=2.6.8 in /home/briarmoss/.local/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow->boston311==0.1.0) (3.4.3)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/briarmoss/.local/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow->boston311==0.1.0) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow->boston311==0.1.0) (5.3.0)
Requirement already satisfied: urllib3<2.0 in /usr/lib/python3/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow->boston311==0.1.0) (1.26.5)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/briarmoss/.local/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow->boston311==0.1.0) (0.3.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow->boston311==0.1.0) (1.3.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/briarmoss/.local/lib/python3.10/site-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow->boston311==0.1.0) (2.1.2)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /home/briarmoss/.local/lib/python3.10/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow->boston311==0.1.0) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/lib/python3/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow->boston311==0.1.0) (3.2.0)
Building wheels for collected packages: boston311
  Building wheel for boston311 (pyproject.toml) ... done
  Created wheel for boston311: filename=boston311-0.1.0-py3-none-any.whl size=19999 sha256=de53473995c392398a2cbcb68232c96c54c16d1f9dcd6f2a4025625f6f6947ce
  Stored in directory: /tmp/pip-ephem-wheel-cache-xs1j5d8c/wheels/3d/69/ee/0a6ac96b9c09c948fc0e74f2724a9703aa39749a41fa757c9e
Successfully built boston311
Installing collected packages: boston311
  Attempting uninstall: boston311
    Found existing installation: boston311 0.1
    Uninstalling boston311-0.1:
      Successfully uninstalled boston311-0.1
Successfully installed boston311-0.1.0

##Import the Boston311Model class

In [1]:
! pip show boston311

Name: boston311
Version: 0.1.0
Summary: A package for training machine learning models on Boston 311 data
Home-page: https://github.com/mindfulcoder49/Boston_311
Author: Alex Alcivar
Author-email: alex.g.alcivar49@gmail.com
License: UNKNOWN
Location: /home/briarmoss/.local/lib/python3.10/site-packages
Requires: matplotlib, numpy, pandas, scikit-learn, tensorflow
Required-by:

In [3]:
from boston311 import Boston311LogReg, Boston311EventDecTree, Boston311SurvDecTree

2023-06-07 15:31:59.654028: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-06-07 15:31:59.995026: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-06-07 15:31:59.997235: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-06-07 15:32:01.531220: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

##Get latest file URLS and Current Date Ranges

In [4]:
logregmodel = Boston311LogReg()
logregmodel.load('logregproperties.json', 'logreg.h5')

In [5]:
from datetime import datetime, timedelta
now = datetime.now()
thirty_days = timedelta(days=30)
thirty_days_ago = now - thirty_days
today_datestring = now.strftime("%Y-%m-%d")
thirty_days_ago_datestring = thirty_days_ago.strftime("%Y-%m-%d")

print(today_datestring, thirty_days_ago_datestring)

2023-06-07 2023-05-08

In [6]:
logregmodel.predict_date_range = {'start': '2023-01-01', 'end': today_datestring}

In [7]:
logregmodel_prediction = logregmodel.predict()

Files with different number of columns from File 0:  []
Files with same number of columns as File 0:  [0]
Files with different column order from File 0:  []
Files with same column order as File 0:  [0]
3398/3398 [==============================] - 6s 2ms/step

In [18]:
logregmodel_prediction.head()

,case_enquiry_id,open_dt,target_dt,closed_dt,ontime,case_status,closure_reason,case_title,subject,reason,...,location_street_name,location_zipcode,latitude,longitude,source,survival_time,event,ward_number,survival_time_hours,event_prediction
0,101004618176,2023-01-03 15:18:00,2023-03-09 15:18:47,NaT,OVERDUE,Open,,Graffiti: 10 1003 Other,Property Management,Graffiti,...,764A Huntington Ave,2120.0,42.3333,-71.1060,Constituent Call,NaT,0,10,NaN,0.605135
1,101004658169,2023-02-06 12:27:00,2023-02-07 12:27:14,NaT,OVERDUE,Open,,Empty Litter Basket,Public Works Department,Highway Maintenance,...,325-327 Savin Hill Ave,2125.0,42.3127,-71.0489,Citizens Connect App,NaT,0,13,NaN,0.212857
2,101004621091,2023-01-05 17:09:14,2024-01-05 17:09:16,NaT,ONTIME,Open,,Tree Maintenance Requests,Parks & Recreation Department,Trees,...,18-22 Arboretum Rd,2131.0,42.2956,-71.1197,Citizens Connect App,NaT,0,19,NaN,0.570518
3,101004684421,2023-02-21 08:41:00,2023-02-28 08:41:13,NaT,OVERDUE,Open,,Ground Maintenance: Condor Street Park - BPRD,Parks & Recreation Department,Park Maintenance & Safety,...,NaN,NaN,42.3594,-71.0587,Constituent Call,NaT,0,NaN,NaN,0.936119
4,101004616418,2023-01-02 09:43:43,NaN,2023-01-02 10:42:11,ONTIME,Closed,Case Closed. Closed date : Mon Jan 02 10:42:11...,Needle Pickup,Mayor's 24 Hour Hotline,Needle Program,...,1530 Washington St,2118.0,42.3388,-71.0725,Citizens Connect App,0 days 00:58:28,1,8,0.974444,0.999916

In [17]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp310-cp310-manylinux1_x86_64.whl (27.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 20.7 MB/s eta 0:00:0000:0100:01
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 22.8 MB/s eta 0:00:0000:01
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.23.0
    Uninstalling protobuf-4.23.0:
      Successfully uninstalled protobuf-4.23.0
Successfully installed mysql-connector-python-8.0.33 protobuf-3.20.3
Note: you may need to restart the kernel to use updated packages.

In [16]:
!pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.16-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 13.5 MB/s eta 0:00:0000:0100:01
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (613 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 613.7/613.7 KB 27.3 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in /home/briarmoss/.local/lib/python3.10/site-packages (from sqlalchemy) (4.5.0)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-2.0.2 sqlalchemy-2.0.16

In [17]:
from sqlalchemy import create_engine
import pandas as pd
import db_config

# Create an engine that connects to a MySQL database
# Replace 'username', 'password', 'hostname', 'dbname' with your actual credentials
db_engine = create_engine(f"mysql+mysqlconnector://{db_config.db_user}:{db_config.db_password}@{db_config.db_host}/{db_config.db_name}")

def add_prediction_to_db(prediction_df, model_id, engine):
    # slice the dataframe to only include the columns you want to write to the database
    merged_df = prediction_df[['case_enquiry_id', 'event_prediction']]

    #Add column with today's date
    today_datestring = datetime.today().strftime('%Y-%m-%d')

    #add column with model name
    merged_df = merged_df.assign(prediction_date=today_datestring, model_id=model_id)


    # Write the data from your DataFrame to the 'table_name' table in the database
    merged_df.to_sql('predictions', con=engine, if_exists='append', index=False)

def add_cases_to_db(prediction_df, engine ):

    #remove two columns from the dataframe
    merged_df = prediction_df.drop(columns=['event_prediction'])

    merged_df.to_sql('three_one_one_cases', con=engine, if_exists='replace', index=False)

In [19]:
add_cases_to_db(logregmodel_prediction, db_engine)

/tmp/ipykernel_9325/1290478982.py:28: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  merged_df.to_sql('three_one_one_cases', con=engine, if_exists='replace', index=False)

DatabaseError: (mysql.connector.errors.DatabaseError) 3730 (HY000): Cannot drop table 'three_one_one_cases' referenced by a foreign key constraint 'predictions_case_enquiry_id_foreign' on table 'predictions'.
[SQL:
DROP TABLE three_one_one_cases]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [ ]:
add_prediction_to_db(logregmodel_prediction, 1, db_engine)  #1 is the model_id for the logistic regression model

##Define several models

In [ ]:
linear_tree_model = Boston311SurvDecTree.Boston311SurvDecTree(train_date_range={'start':'2022-01-01','end':thirty_days_ago_datestring},
                            predict_date_range={'start':thirty_days_ago_datestring,'end':today_datestring},
                            feature_columns=['type','queue'],
                            scenario={'dropColumnValues': {'source':['City Worker App', 'Employee Generated']},
                                      'survivalTimeMin':0,
                                      'survivalTimeFill':'2023-05-22'},
                            files_dict=latest_URLS)

In [ ]:
logistic_model = Boston311LogReg.Boston311LogReg(train_date_range={'start':'2022-01-01','end':thirty_days_ago_datestring},
                            predict_date_range={'start':thirty_days_ago_datestring,'end':today_datestring},
                            feature_columns=['type', 'queue'],
                            scenario={'dropColumnValues': {'source':['City Worker App', 'Employee Generated']},
                                      'survivalTimeMin':0},
                            files_dict=latest_URLS)

In [ ]:
logistic_tree_model = Boston311EventDecTree.Boston311EventDecTree(train_date_range={'start':'2022-01-01','end':thirty_days_ago_datestring},
                            predict_date_range={'start':thirty_days_ago_datestring,'end':today_datestring},
                            feature_columns=['type', 'queue'],
                            scenario={'dropColumnValues': {'source':['City Worker App', 'Employee Generated']},
                                      'survivalTimeMin':0},
                            files_dict=latest_URLS)

##Train several models

In [ ]:
logistic_tree_model.run_pipeline()

Files with different number of columns from File 0:  []
Files with same number of columns as File 0:  [0, 1]
Files with different column order from File 0:  []
Files with same column order as File 0:  [0, 1]
Starting Training at 2023-05-24 15:09:15.398923
Testing accuracy: 0.9493150684931507
Ending Training at 2023-05-24 15:09:51.630050
Training took 0:00:36.231127

In [ ]:
import gc
gc.collect()

23

In [ ]:
logistic_tree_prediction = logistic_tree_model.predict()

Files with different number of columns from File 0:  []
Files with same number of columns as File 0:  [0]
Files with different column order from File 0:  []
Files with same column order as File 0:  [0]

In [ ]:
logistic_tree_prediction['event_prediction'].value_counts()

1    3176
0    1499
Name: event_prediction, dtype: int64

In [ ]:
logistic_tree_prediction[logistic_tree_prediction['event'] == 0].head(100)

,case_enquiry_id,open_dt,target_dt,closed_dt,ontime,case_status,closure_reason,case_title,subject,reason,...,location_street_name,location_zipcode,latitude,longitude,source,survival_time,event,ward_number,survival_time_hours,event_prediction
23914,101004800947,2023-04-26 13:58:00,2023-05-03 13:58:52,NaT,OVERDUE,Open,,Ground Maintenance,Parks & Recreation Department,Park Maintenance & Safety,...,1P Warren Ave,2129.0,42.3700,-71.0615,Citizens Connect App,NaT,0,2,NaN,0
24034,101004841616,2023-05-18 14:03:53,2023-06-02 14:03:53,NaT,ONTIME,Open,,BTDT: Complaint,Mayor's 24 Hour Hotline,Employee & General Comments,...,NaN,NaN,42.3594,-71.0587,Constituent Call,NaT,0,NaN,NaN,0
24174,101004804983,2023-04-29 11:53:00,2024-04-28 11:53:38,NaT,ONTIME,Open,,New Tree Requests,Parks & Recreation Department,Trees,...,77 Lawrence Ave,2121.0,42.3113,-71.0762,Constituent Call,NaT,0,14,NaN,1
24306,101004842612,2023-05-19 09:20:00,2023-05-26 09:20:42,NaT,ONTIME,Open,,PWD Graffiti,Public Works Department,Highway Maintenance,...,699 Boylston St,2116.0,42.3499,-71.0792,Citizens Connect App,NaT,0,5,NaN,0
24743,101004846504,2023-05-22 12:30:00,NaN,NaT,ONTIME,Open,,Schedule a Bulk Item Pickup,Public Works Department,Sanitation,...,271 Cornell St,2131.0,42.2811,-71.1375,Constituent Call,NaT,0,20,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28607,101004804310,2023-04-28 17:59:00,NaN,NaT,ONTIME,Open,,Animal Generic Request,Animal Control,Animal Issues,...,104 Devon St,2121.0,42.3091,-71.0780,Constituent Call,NaT,0,14,NaN,1
28663,101004804458,2023-04-28 20:48:00,2023-05-08 08:30:00,NaT,OVERDUE,Open,Case Closed. Closed date : 2023-04-29 15:41:56...,Ground Maintenance,Parks & Recreation Department,Park Maintenance & Safety,...,INTERSECTION Fairfield St & Back St,NaN,42.3594,-71.0587,Citizens Connect App,NaT,0,5,NaN,0
28670,101004804548,2023-04-29 01:13:00,NaN,NaT,ONTIME,Open,,Loud Parties/Music/People,Boston Police Department,Noise Disturbance,...,INTERSECTION Aberdeen St & Beacon St,NaN,42.3594,-71.0587,Constituent Call,NaT,0,21,NaN,0
28672,101004804559,2023-04-29 03:47:00,NaN,NaT,ONTIME,Open,,Loud Parties/Music/People,Boston Police Department,Noise Disturbance,...,15 Banfield Ave,2126.0,42.2766,-71.0875,Constituent Call,NaT,0,18,NaN,0
28747,101004804775,2023-04-29 10:02:00,2025-04-18 10:02:29,NaT,ONTIME,Open,,Working Beyond Hours,Inspectional Services,Building,...,464 Beacon St,2115.0,42.3515,-71.0880,Constituent Call,NaT,0,5,NaN,1

Warning: Total number of columns (34) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
logistic_tree_model.save('.','logtree','logtreeproperties')

In [ ]:
from google.colab import files
files.download('logtree.pkl')
files.download('logtreeproperties.json')

In [ ]:
logistic_model.run_pipeline()

Files with different number of columns from File 0:  []
Files with same number of columns as File 0:  [0, 1]
Files with different column order from File 0:  []
Files with same column order as File 0:  [0, 1]
Starting Training at 2023-05-24 15:14:47.774563
Epoch 1/10
6424/6424 [==============================] - 15s 2ms/step - loss: 0.2203 - accuracy: 0.9184 - val_loss: 0.1460 - val_accuracy: 0.9384
Epoch 2/10
6424/6424 [==============================] - 13s 2ms/step - loss: 0.1357 - accuracy: 0.9402 - val_loss: 0.1269 - val_accuracy: 0.9445
Epoch 3/10
6424/6424 [==============================] - 13s 2ms/step - loss: 0.1252 - accuracy: 0.9443 - val_loss: 0.1216 - val_accuracy: 0.9476
Epoch 4/10
6424/6424 [==============================] - 14s 2ms/step - loss: 0.1215 - accuracy: 0.9465 - val_loss: 0.1195 - val_accuracy: 0.9482
Epoch 5/10
6424/6424 [==============================] - 14s 2ms/step - loss: 0.1199 - accuracy: 0.9469 - val_loss: 0.1186 - val_accuracy: 0.9486
Epoch 6/10
6424/6424 [==============================] - 13s 2ms/step - loss: 0.1190 - accuracy: 0.9475 - val_loss: 0.1181 - val_accuracy: 0.9486
Epoch 7/10
6424/6424 [==============================] - 14s 2ms/step - loss: 0.1184 - accuracy: 0.9476 - val_loss: 0.1178 - val_accuracy: 0.9487
Epoch 8/10
6424/6424 [==============================] - 13s 2ms/step - loss: 0.1180 - accuracy: 0.9477 - val_loss: 0.1176 - val_accuracy: 0.9487
Epoch 9/10
6424/6424 [==============================] - 13s 2ms/step - loss: 0.1178 - accuracy: 0.9477 - val_loss: 0.1175 - val_accuracy: 0.9488
Epoch 10/10
6424/6424 [==============================] - 14s 2ms/step - loss: 0.1176 - accuracy: 0.9478 - val_loss: 0.1175 - val_accuracy: 0.9488
2008/2008 [==============================] - 3s 1ms/step - loss: 0.1189 - accuracy: 0.9486
Test accuracy: 0.9486145973205566
Ending Training at 2023-05-24 15:17:17.238739
Training took 0:02:29.464176

In [ ]:
logistic_model.save('.','logreg','logregproperties')

In [ ]:
files.download('logreg.h5')
files.download('logregproperties.json')

In [ ]:
logistic_prediction = logistic_model.predict()

Files with different number of columns from File 0:  []
Files with same number of columns as File 0:  [0]
Files with different column order from File 0:  []
Files with same column order as File 0:  [0]
147/147 [==============================] - 0s 1ms/step

In [ ]:
logistic_prediction['event_prediction'].value_counts()

1.000000    382
0.998558    261
0.570518    249
0.797962    245
0.136469    224
           ...
0.970952      1
0.912096      1
0.993215      1
0.898748      1
0.998758      1
Name: event_prediction, Length: 435, dtype: int64

In [ ]:
logistic_prediction[logistic_prediction['event_prediction'] < .5].shape[0]

1491

In [ ]:
linear_tree_model.run_pipeline()

Files with different number of columns from File 0:  []
Files with same number of columns as File 0:  [0, 1]
Files with different column order from File 0:  []
Files with same column order as File 0:  [0, 1]
Starting Training at 2023-05-24 15:17:44.629507
Testing accuracy: 0.7201899128268991
Ending Training at 2023-05-24 15:17:57.088451
Training took 0:00:12.458944

In [ ]:
linear_prediction = linear_tree_model.predict()

Files with different number of columns from File 0:  []
Files with same number of columns as File 0:  [0]
Files with different column order from File 0:  []
Files with same column order as File 0:  [0]

In [ ]:
linear_prediction.head(20)

,case_enquiry_id,open_dt,target_dt,closed_dt,ontime,case_status,closure_reason,case_title,subject,reason,...,location_street_name,location_zipcode,latitude,longitude,source,survival_time,event,ward_number,survival_time_hours,survival_prediction
23914,101004800947,2023-04-26 13:58:00,2023-05-03 13:58:52,NaT,OVERDUE,Open,,Ground Maintenance,Parks & Recreation Department,Park Maintenance & Safety,...,1P Warren Ave,2129.0,42.3700,-71.0615,Citizens Connect App,NaT,0,2,NaN,1-12 months
24034,101004841616,2023-05-18 14:03:53,2023-06-02 14:03:53,NaT,ONTIME,Open,,BTDT: Complaint,Mayor's 24 Hour Hotline,Employee & General Comments,...,NaN,NaN,42.3594,-71.0587,Constituent Call,NaT,0,NaN,NaN,1-12 months
24174,101004804983,2023-04-29 11:53:00,2024-04-28 11:53:38,NaT,ONTIME,Open,,New Tree Requests,Parks & Recreation Department,Trees,...,77 Lawrence Ave,2121.0,42.3113,-71.0762,Constituent Call,NaT,0,14,NaN,1-12 months
24306,101004842612,2023-05-19 09:20:00,2023-05-26 09:20:42,NaT,ONTIME,Open,,PWD Graffiti,Public Works Department,Highway Maintenance,...,699 Boylston St,2116.0,42.3499,-71.0792,Citizens Connect App,NaT,0,5,NaN,1-12 months
24743,101004846504,2023-05-22 12:30:00,NaN,NaT,ONTIME,Open,,Schedule a Bulk Item Pickup,Public Works Department,Sanitation,...,271 Cornell St,2131.0,42.2811,-71.1375,Constituent Call,NaT,0,20,NaN,1-7 days
24772,101004846539,2023-05-22 12:46:00,NaN,NaT,ONTIME,Open,,Mattress Pickup,Public Works Department,Sanitation,...,236 West St,2136.0,42.2637,-71.1266,Constituent Call,NaT,0,18,NaN,1-7 days
24887,101004805225,2023-04-29 16:08:00,2023-05-02 08:30:00,NaT,OVERDUE,Open,,Request for Pothole Repair,Public Works Department,Highway Maintenance,...,INTERSECTION Chestnut St & Brimmer St,NaN,42.3594,-71.0587,Citizens Connect App,NaT,0,5,NaN,over a year
25512,101004846548,2023-05-22 12:50:36,NaN,NaT,ONTIME,Open,,Schedule a Bulk Item Pickup,Public Works Department,Sanitation,...,103 Alabama St,2126.0,42.2768,-71.1016,Constituent Call,NaT,0,18,NaN,1-7 days
25575,101004797884,2023-04-24 15:00:00,2023-04-25 15:00:11,NaT,OVERDUE,Open,,Sidewalk Repair (Make Safe),Public Works Department,Highway Maintenance,...,27 Garden St,2114.0,42.3606,-71.0671,Constituent Call,NaT,0,5,NaN,1-12 months
25867,101004797888,2023-04-24 15:02:00,2024-04-23 15:02:05,NaT,ONTIME,Open,,Tree Maintenance Requests,Parks & Recreation Department,Trees,...,27 Garden St,2114.0,42.3606,-71.0671,Constituent Call,NaT,0,5,NaN,1-12 months
25885,101004847343,2023-05-22 18:40:00,2023-06-07 08:30:00,NaT,ONTIME,Open,,Street Light Outages,Public Works Department,Street Lights,...,19 Monastery Rd,2135.0,42.3456,-71.1469,Citizens Connect App,NaT,0,21,NaN,1-12 months
25886,101004819434,2023-05-10 08:55:00,2023-05-15 08:55:01,NaT,OVERDUE,Open,,Contractor Complaints,Public Works Department,Highway Maintenance,...,98 Everett St,2128.0,42.3674,-71.0341,Constituent Call,NaT,0,1,NaN,1-12 months
26425,101004796734,2023-04-24 01:01:00,2024-04-23 01:01:09,NaT,ONTIME,Open,,Tree Maintenance Requests,Parks & Recreation Department,Trees,...,INTERSECTION Woodhaven St & Cummins Hwy,NaN,42.3594,-71.0587,Citizens Connect App,NaT,0,18,NaN,1-12 months
26540,101004820200,2023-05-10 14:38:00,2023-05-11 14:38:31,NaT,OVERDUE,Open,,Sidewalk Repair (Make Safe),Public Works Department,Highway Maintenance,...,50 Sawyer Ave,2125.0,42.3118,-71.0605,Citizens Connect App,NaT,0,13,NaN,1-12 months
26699,101004829871,2023-05-17 11:36:00,2023-05-24 11:36:11,NaT,ONTIME,Open,,Recycling Cart Return,Public Works Department,Recycling,...,76 Louder's Ln,2130.0,42.3054,-71.1292,Constituent Call,NaT,0,19,NaN,2-4 weeks
26802,101004796914,2023-04-24 08:17:00,2023-04-25 08:30:00,NaT,OVERDUE,Open,,Sidewalk Repair (Make Safe),Public Works Department,Highway Maintenance,...,1830 Washington St,2118.0,42.3353,-71.0778,Citizens Connect App,NaT,0,8,NaN,1-12 months
26841,101004797033,2023-04-24 09:04:00,2023-04-25 09:04:31,NaT,OVERDUE,Open,,Request for Pothole Repair,Public Works Department,Highway Maintenance,...,51 Garden St,2114.0,42.3598,-71.0670,Citizens Connect App,NaT,0,5,NaN,1-12 months
26901,101004797330,2023-04-24 11:06:00,NaN,NaT,ONTIME,Open,,Public Works General Request,Public Works Department,Administrative & General Requests,...,586 E Eighth St,2127.0,42.3316,-71.0383,Constituent Call,NaT,0,7,NaN,over a year
26911,101004797459,2023-04-24 11:56:00,2023-04-25 11:56:03,NaT,OVERDUE,Open,,Sidewalk Repair (Make Safe),Public Works Department,Highway Maintenance,...,209-211 N Harvard St,2134.0,42.3626,-71.1307,Constituent Call,NaT,0,22,NaN,1-12 months
26918,101004797537,2023-04-24 12:39:00,2023-04-25 12:39:01,NaT,OVERDUE,Open,,Sidewalk Repair (Make Safe),Public Works Department,Highway Maintenance,...,61 Mount Vernon St,2108.0,42.3585,-71.0662,Citizens Connect App,NaT,0,5,NaN,1-12 months

In [ ]:
linear_prediction.shape[0]

4675

In [ ]:
logistic_prediction.shape[0]

4675

In [ ]:
logistic_tree_prediction.shape[0]

4675

##Join the tables

In [ ]:
merged_df = logistic_tree_prediction.merge(logistic_prediction[['case_enquiry_id','event_prediction']], on='case_enquiry_id', how="outer").merge(linear_prediction[['case_enquiry_id','survival_prediction']], on='case_enquiry_id', how="outer")

In [ ]:
merged_df.shape[0]

4675

In [ ]:
merged_df.head()

,case_enquiry_id,open_dt,target_dt,closed_dt,ontime,case_status,closure_reason,case_title,subject,reason,...,latitude,longitude,source,survival_time,event,ward_number,survival_time_hours,event_prediction_x,event_prediction_y,survival_prediction
0,101004800947,2023-04-26 13:58:00,2023-05-03 13:58:52,NaT,OVERDUE,Open,,Ground Maintenance,Parks & Recreation Department,Park Maintenance & Safety,...,42.3700,-71.0615,Citizens Connect App,NaT,0,2,NaN,0,0.200332,1-12 months
1,101004841616,2023-05-18 14:03:53,2023-06-02 14:03:53,NaT,ONTIME,Open,,BTDT: Complaint,Mayor's 24 Hour Hotline,Employee & General Comments,...,42.3594,-71.0587,Constituent Call,NaT,0,NaN,NaN,0,0.150673,1-12 months
2,101004804983,2023-04-29 11:53:00,2024-04-28 11:53:38,NaT,ONTIME,Open,,New Tree Requests,Parks & Recreation Department,Trees,...,42.3113,-71.0762,Constituent Call,NaT,0,14,NaN,1,0.515745,1-12 months
3,101004842612,2023-05-19 09:20:00,2023-05-26 09:20:42,NaT,ONTIME,Open,,PWD Graffiti,Public Works Department,Highway Maintenance,...,42.3499,-71.0792,Citizens Connect App,NaT,0,5,NaN,0,0.536306,1-12 months
4,101004846504,2023-05-22 12:30:00,NaN,NaT,ONTIME,Open,,Schedule a Bulk Item Pickup,Public Works Department,Sanitation,...,42.2811,-71.1375,Constituent Call,NaT,0,20,NaN,1,0.998684,1-7 days

##Save the prediction data

In [ ]:
merged_df.to_csv('predictions.csv', index=False)

In [ ]:
files.download('predictions.csv')

In [ ]:
import gc
gc.collect()

23

#Send to remote mySQL database

In [ ]:
pip install mysql-connector-python sqlalchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp310-cp310-manylinux1_x86_64.whl (27.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 23.7 MB/s eta 0:00:00
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.10)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /usr/local/lib/python3.10/dist-packages (from mysql-connector-python) (3.20.3)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (2.0.2)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.33

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# Create an engine that connects to a MySQL database
# Replace 'username', 'password', 'hostname', 'dbname' with your actual credentials
engine = create_engine('mysql+mysqlconnector://username:password@hostname/dbname')

# Write the data from your DataFrame to the 'table_name' table in the database
merged_df.to_sql('predictions', con=engine, if_exists='replace', index=False)

<ipython-input-29-80dbbb4f67cb>:9: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  merged_df.to_sql('predictions', con=engine, if_exists='replace', index=False)

4583